# IDE/Editor files
.idea
.ensime
.ensime_cache/
.DS_Store
.project
.metals/
.bloop/
.bsp/
.vscode/
out/
*.iml

# scala build folders
target
classes

# dotfiles
.dockerignore
.editorconfig

# logs
*.log

# db files
*.data
.history
.bifrost/
keyfiles/
ldb_main
ldb_undo

# for temporary experiments
sheet.scala
examples/src/main/scala/examples/sigmastate/
examples/lib/
dumps/
local/
local.conf
localVersion.sbt

# monitoring persistent data files
monit/data/

# docker
docker/*.jar
/node/project/build.properties
/project/project/metals.sbt
/project/project/project/metals.sbt

# sonar
.sonar_lock
report-task.txt
