# Automatic end of line normalization. Normalize to LF on check in.
* text=auto

# Force LF endings for shell scripts.
*.sh text eol=lf

# swagger
src/main/resources/swagger-ui/* linguist-vendored

# Bifrost model diagrams
docs/* linguist-documentation