<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<orient-server>
<network>
      <protocols>
          <protocol name="binary" implementation="com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary"/>
          <protocol name="http" implementation="com.orientechnologies.orient.server.network.protocol.http.ONetworkProtocolHttpDb"/>
      </protocols>
      <listeners>
        <listener protocol="http" port-range="2480-2490" ip-address="0.0.0.0">
          <commands>
            <command implementation="com.orientechnologies.orient.server.network.protocol.http.command.get.OServerCommandGetStaticContent" pattern="GET|www GET|api* GET|studio/ GET| GET|*.htm GET|*.html GET|*.xml GET|*.jpeg GET|*.jpg GET|*.png GET|*.gif GET|*.js GET|*.css GET|*.swf GET|*.ico GET|*.txt GET|*.otf GET|*.pjs GET|*.svg">
              <parameters>
                <entry value="Cache-Control: no-cache, no-store, max-age=0, must-revalidate\r\nPragma: no-cache" name="http.cache:*.htm *.html"/>
                <entry value="Cache-Control: max-age=120" name="http.cache:default"/>
              </parameters>
            </command>
          </commands>
        </listener>
       </listeners>
      </network>
        <users>
            <user name="root" password="ThisIsA_TEST" resources="*"/>
        </users>
      <properties>
        <entry name="server.cache.staticResources" value="false"/>
        <entry name="log.console.level" value="info"/>
        <entry name="log.file.level" value="fine"/>
        <entry name="plugin.dynamic" value="false"/>
        <entry name="orientdb.www.path" value="/home/fernando/.cache/coursier/v1/https/repo1.maven.org/maven2/com/orientechnologies/orientdb-studio/3.2.16/orientdb-studio-3.2.16/www/"/>
      </properties>
</orient-server>
