name: bifrost-consensus-testnet

image:
#  name: bifrost-node-tetra
#  name: ghcr.io/topl/bifrost-node-tetra
  name: localhost:32000/topl/bifrost-node-tetra
  tag: latest

delayerImage:
  name: localhost:32000/topl/network-delayer
  tag: latest

orchestratorImage:
  name: localhost:32000/topl/testnet-simulation-orchestrator
  tag: latest

bigBang:
  timestamp:
  delayMs:

shared-config: {}
configs: {}

results:
  bucket:
  prefix: /simulation/results/

scenario:
  targetHeight: 30
  transactionsPerSecond: 2.0

resources:
  limits:
    cpu: 2000m
    memory: 1000Mi
  requests:
    cpu: 100m
    memory: 1000Mi

podSecurityContext:
  runAsUser: 1001 # TODO: Update Bifrost Docker container to use high UID. Add CKV_K8S_40 as a check.
  runAsGroup: 0
  fsGroup: 0
  seccompProfile:
    type: RuntimeDefault

securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

args: []

command:

service:
  type: ClusterIP
  ports:
    p2p: 9085
    rpc: 9084

volume:
  mountDirectory: /opt/docker/.bifrost
  storageClass:
  storageSize: 1Gi

livenessProbe:
  enabled: false
  initialDelaySeconds: 30
  timeoutSeconds: 30
  periodSeconds: 60

readinessProbe:
  enabled: false
  initialDelaySeconds: 30
  timeoutSeconds: 30
  periodSeconds: 60
