name: Push

on:
  push:
    branches:
      - 'main'
      - 'dev'
      - 'release-**'
      - 'BN-804-remote-repository-destination'

jobs:
  validate-helm:
    uses: ./.github/workflows/_validate_helm.yml
  sbt-build:
    uses: ./.github/workflows/_sbt_build.yml
    with:
      preserve-cache-between-runs: true
  sbt-integration-tests:
    uses: ./.github/workflows/_sbt_integration_tests.yml
    needs: [sbt-build]
    with:
      preserve-cache-between-runs: true
  publish-docker-images-unofficial:
    uses: ./.github/workflows/_docker_publish_private.yml
    needs: [sbt-build, sbt-integration-tests]
    with:
      remote-repository: "us-central1-docker.pkg.dev/topl-shared-project-dev/topl-artifacts-dev"
    secrets: inherit
